@page
@model CS2Pickems.Pages.PickEms.PlayoffsModel
@{
    ViewData["Title"] = $"CS2 PickEms - {CS2Pickems.Models.Stages.Playoffs}";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/stagePlayoffs.css" />
    <link rel="stylesheet" href="~/css/playoffs.css" />
}

<div class="pickem-container">
    <div class="navbar">
        <form method="post" class="event-select">
            <label for="event"></label>
            <select id="SelectedEvent" asp-for="SelectedEvent" asp-items="Model.EventOptions"></select>

        </form>

        <div class="dropdown">
            <button class="dropbtn">
                <img src="@Model.Avatar" />
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a asp-page="/Profile/Overview">@Model.PersonaName</a>
                <a asp-page="/Profile/Logout">Logout</a>
            </div>
        </div>
    </div>

    <nav class="stage-nav">
        <nav class="stage-nav">
            <a class="stage"
               asp-page="/PickEms/Stage"
               asp-route-eventId="@Model.EventId"
               asp-route-eventName="@Model.EventName"
               asp-route-steamId="@Model.SteamId"
               asp-route-stage="@CS2Pickems.Models.Stages.Stage1">I</a>

            <a class="stage"
               asp-page="/PickEms/Stage"
               asp-route-eventId="@Model.EventId"
               asp-route-eventName="@Model.EventName"
               asp-route-steamId="@Model.SteamId"
               asp-route-stage="@CS2Pickems.Models.Stages.Stage2">II</a>

            <a class="stage"
               asp-page="/PickEms/Stage"
               asp-route-eventId="@Model.EventId"
               asp-route-eventName="@Model.EventName"
               asp-route-steamId="@Model.SteamId"
               asp-route-stage="@CS2Pickems.Models.Stages.Stage3">III</a>

            <a class="stage active"
               asp-page="/PickEms/Playoffs"
               asp-route-eventId="@Model.EventId"
               asp-route-eventName="@Model.EventName"
               asp-route-steamId="@Model.SteamId">IV</a>
        </nav>
    </nav>

    <div class="playoff-bracket">
        <div class="champion">
            <div class="match-dropzone-advanced" ondrop="dropPlayoffs(event)" ondragover="allowDrop(event)" id="pick6">Champion</div>
        </div>
        <div class="semi-finals">
            <div class="match-dropzone-advanced" ondrop="dropPlayoffs(event)" ondragover="allowDrop(event)" id="pick4">S1</div>
            <div class="match-dropzone-advanced" ondrop="dropPlayoffs(event)" ondragover="allowDrop(event)" id="pick5">S2</div>
        </div>
        <div class="quarter-finals">
            <div class="match-dropzone-advanced" ondrop="dropPlayoffs(event)" ondragover="allowDrop(event)" id="pick0">Q1</div>
            <div class="match-dropzone-advanced" ondrop="dropPlayoffs(event)" ondragover="allowDrop(event)" id="pick1">Q2</div>
            <div class="match-dropzone-advanced" ondrop="dropPlayoffs(event)" ondragover="allowDrop(event)" id="pick2">Q3</div>
            <div class="match-dropzone-advanced" ondrop="dropPlayoffs(event)" ondragover="allowDrop(event)" id="pick3">Q4</div>
        </div>

        <div class="round-of-eight">
            <div class="team" draggable="true" ondragstart="drag(event)" id="team0"></div>
            <div class="team" draggable="true" ondragstart="drag(event)" id="team1"></div>
            <div class="team" draggable="true" ondragstart="drag(event)" id="team2"></div>
            <div class="team" draggable="true" ondragstart="drag(event)" id="team3"></div>
            <div class="team" draggable="true" ondragstart="drag(event)" id="team4"></div>
            <div class="team" draggable="true" ondragstart="drag(event)" id="team5"></div>
            <div class="team" draggable="true" ondragstart="drag(event)" id="team6"></div>
            <div class="team" draggable="true" ondragstart="drag(event)" id="team7"></div>
        </div>
    </div>

    <form method="post" id="saveForm">
        <input type="hidden" name="DroppedImagesData" id="DroppedImagesData" />
        <button class="save-button" type="submit" id="saveButton" asp-page-handler="SendPicks" asp-route-eventId="@Model.EventId" asp-route-steamId="@Model.SteamId">Save All Picks</button>
    </form>
</div>

@section Scripts {
    <script>
        window.pageData = {
            eventId: "@Model.EventId",
            steamId: "@Model.SteamId"
        };
    </script>
    <script src="~/js/stagePlayoffs.js"></script>
    <script src="~/js/playoffs.js"></script>
}
