@page
@model PickemsPlanter.Pages.PickEms.PlayoffsModel
@{
    ViewData["Title"] = $"Pick'Ems Planter - {PickemsPlanter.Models.Stages.Playoffs}";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/stagePlayoffs.css" />
    <link rel="stylesheet" href="~/css/playoffs.css" />
}

<div class="pickem-container">
    <div class="navbar">
        <h2 class="selected-event" id="SelectedEvent" asp-for="SelectedEvent" value=@Model.SelectedEvent>@Model.EventName</h2>
        <div class="navigation" id="navigation">
            <div class="dropdown" id="dropDown">
                <a class="logout" onclick="toggleLogoutConfirmation()">Logout</a>
                <a class="profile" asp-page="/Profile/Overview">@Model.PersonaName</a>
            </div>
            <a class="profile-image" asp-page="/Profile/Overview"><img src="@Model.Avatar" /></a>
            <a class="profile-image-hidden" id="profileImage"><img src="@Model.Avatar" /></a>
        </div>
    </div>

    <div class="playoff-bracket">
        <div class="bracket">
            <nav class="stage-nav">
                <a class="stage"
                   asp-page="/PickEms/Stage"
                   asp-route-eventId="@Model.EventId"
                   asp-route-eventName="@Model.EventName"
                   asp-route-steamId="@Model.SteamId"
                   asp-route-stage="@PickemsPlanter.Models.Stages.Stage1">I</a>

                <a class="stage"
                   asp-page="/PickEms/Stage"
                   asp-route-eventId="@Model.EventId"
                   asp-route-eventName="@Model.EventName"
                   asp-route-steamId="@Model.SteamId"
                   asp-route-stage="@PickemsPlanter.Models.Stages.Stage2">II</a>

                <a class="stage"
                   asp-page="/PickEms/Stage"
                   asp-route-eventId="@Model.EventId"
                   asp-route-eventName="@Model.EventName"
                   asp-route-steamId="@Model.SteamId"
                   asp-route-stage="@PickemsPlanter.Models.Stages.Stage3">III</a>

                <a class="stage active"
                   asp-page="/PickEms/Playoffs"
                   asp-route-eventId="@Model.EventId"
                   asp-route-eventName="@Model.EventName"
                   asp-route-steamId="@Model.SteamId">IV</a>
            </nav>

            <div class="champion">
                <img class="crown-image" src="/Images/crown.png" />
                <div class="dropzone-advanced" id="pick6" title="Winner">Winner</div>
            </div>
            <div class="semi-finals">
                <div class="dropzone-advanced" id="pick4" title="Semi final 1">S1</div>
                <div class="dropzone-advanced" id="pick5" title="Semi final 2">S2</div>
            </div>
            <div class="quarter-finals">
                <div class="dropzone-advanced" id="pick0" title="Quarter final 1">Q1</div>
                <div class="dropzone-advanced" id="pick1" title="Quarter final 2">Q2</div>
                <div class="dropzone-advanced" id="pick2" title="Quarter final 3">Q3</div>
                <div class="dropzone-advanced" id="pick3" title="Quarter final 4">Q4</div>
            </div>

            <div class="round-of-eight">
                <div class="team" id="team0"></div>
                <div class="team" id="team1"></div>
                <div class="team" id="team2"></div>
                <div class="team" id="team3"></div>
                <div class="team" id="team4"></div>
                <div class="team" id="team5"></div>
                <div class="team" id="team6"></div>
                <div class="team" id="team7"></div>
            </div>

            <div class="show-results-div">
                <label for="showResults">
                    <input type="checkbox" class="show-results" id="showResults" asp-page-handler="GetResults" />
                    <span class="checkbox" title="Show the results from the stage"></span>
                    Show results from stage
                </label>
            </div>
        </div>

        <div class="buttons">
            <button class="clear-all-picks" id="clearAllPicks" type="button" title="Clear all picks"><img src="/Images/clear_all_picks.png" /></button>
            <button class="random-picks" id="randomPicks" type="button" title="Randomly fill the empty dropzones"><img src="/Images/random_picks.png" /></button>
        </div>
    
        <form method="post" class="save-form" id="saveForm">
            <input type="hidden" name="picksToPost" id="picksToPost" />
            <button class="save-button" type="submit" id="saveButton" title="Save your picks" asp-page-handler="SendPicks" asp-route-eventId="@Model.EventId" asp-route-steamId="@Model.SteamId">Save All Picks</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        window.pageData = {
            eventId: "@Model.EventId",
            steamId: "@Model.SteamId",
            picks: [@Model.Picks]
        };
    </script>
    <script src="~/js/PickEms/stylingFunctions.js"></script>
    <script src="~/js/PickEms/utilities.js"></script>
    <script src="~/js/PickEms/randomPicksFunctions.js"></script>
    <script src="~/js/PickEms/dropzoneFunctions.js"></script>
    <script src="~/js/PickEms/dropFunctions.js"></script>
    <script src="~/js/PickEms/dragFunctions.js"></script>
    <script src="~/js/PickEms/apiFunctions.js"></script>
    <script src="~/js/PickEms/stagePlayoffs.js"></script>
    <script src="~/js/PickEms/playoffs.js"></script>
}
